body.auth {
	background-image: url("image/auth-background.jpg");
}
body.auth .box {

}
body.auth .box .button {
	width: 130px;
	height: 40px;
	text-align: center;
	padding: 10px;
	border: 2px solid white;
	background-color: 
}
body.auth .box .sidebar {

}
body.auth .box .sidebar h2 {

}
body.auth .box .sidebar h3 {
}
body.auth .box .content {

}


